.contenedorfotos{
    display: flex;
    position:static;
    flex-direction: column;
    padding-left: 25%;
    max-width: 31%;
}

.contenedorfotos img {
    width: 100%;
}

.contenedortext{
    display: flex;
    flex-direction: column;
    padding-right: 5%;
    padding-top: 2%;
}

.texto{
    color: #fff;
    text-align: justify;
    font-size: 35px;
}

#letraamarilla{
    color: #eeba1e;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}

.texto2{
    display: flex;
    color: gray;
    font-size: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contenedorcarre{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 48%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.carrera{
    text-align: center;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
}

.gris{
    color: gray;
}

