body{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}

.contenedorfotos{
    display: flex;
    flex-direction: column;
    margin-left: 25%;
    width: 40%;
}

.contenedorfotos img {
    object-fit: cover;
    height: 100vh;
}

.contenedortext{
    display: flex;
    width: 35%;
    flex-direction: column;
    font-weight: 500;
    padding: 4%;
    padding-top: 3%;
}

.texto{
    color: #fff;
    margin: 0;
    font-size: 3vw;
}

#letraamarilla{
    font-weight: 1000;
    color: #eeba1e;
}

.texto2{
    display: flex;
    color: gray;
    line-height: 2vw;
    font-weight: 300;
    font-size: 1.25vw;
}

.contenedorcarre{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 15%;
}

.carrera{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #fff;
    font-size: 1.3vw;
    font-weight: bold;
}

.gris{
    margin-top: 0.5vw;
    font-size: 1vw;
    font-weight: 400;
    color: gray;
}